{% extends "basic/layout.html" %}

{% set css_files = css_files + ["_static/default.css"] %}

{% block document %}
<table>
    <tr>
        <td/>
        {% if logo != '' %}
        <a class="toplogo" href="{{ pathto('index') }}"><img src="{{ pathto('_static/' + logo, 1) }}" border="0"/></a>
        {% else %}
        <h1><a href="{{ pathto('index') }}">{{project}}</a></h1>
        {% endif %}
        <td width="100%" align="right">
            <div id="searchbox" style="display: none">
                <h3>{{ _('Quick search') }}</h3>
                <form class="search" action="{{ pathto('search') }}" method="get">
                    <input type="text" name="q" size="18" />
                    <input type="submit" value="{{ _('Go') }}" />
                    <input type="hidden" name="check_keywords" value="yes" />
                    <input type="hidden" name="area" value="default" />
                </form>
                <p class="searchtip" style="font-size: 90%">
                {{ _('Enter search terms or a module, class or function name.') }}
                </p>
            </div>
            <script type="text/javascript">$('#searchbox').show(0);</script>
        </td>
    </tr>
</table>
{{ super() }}
{% endblock %}

{% block relbar1 %} {% endblock %}
{% block relbar2 %} {% endblock %}
{% block sidebartoc %} {% endblock %}
{% block sidebarrel %} {% endblock %}
{% block sidebarsourcelink %} {% endblock %}
{% block sidebarsearch %} {% endblock %}
{% block sidebarlogo %} {% endblock %}

{% block footer %}
<div class="footer">
{{ copyright }}
</div>
{% endblock %}

{% block rootrellink %}
{{ super() }}
{% endblock %}
